@import "compass";
@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

p {
  @include fontsize(12);
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$base : #f9f8f6;
$base_right : #e2ddd4;
$base_dark : #887f69;
$gray : #b0b0b0;
$red : #9d1a2d;


// body...........................
body {
background : $base;
}


// header...........................
header{
  
  padding: 10px 0 10px 0;
  
  .hedder_navi_li{
    list-style: none;
    float: right;
    
  }
  
  li{
    display: inline;
    line_style-type: none;
    text-decoration: none;
	  margin: 0;
	  padding: 0 0 0 10px;
  }
  
}


// main...........................

h2 {
    width: 100%;
    padding: 10px;
    @include box-sizing(border-box);
}
.new {
  background-color: white;
}
.popular {
  background-color: white;
}
.box {
  width: 31%;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  @include border-radius(2px);
  @include box-sizing(border-box);
}


.guide_box{
  width: 45%;
  padding: 2px;
  display: inline-block;
  text-align: center;
  background: white;
  @include border-radius(2px);
  @include box-sizing(border-box);
}


// sid...........................

#sidebar{
  .item_serch{
    width: 100%;
    background: white;
  }
  
  .sp_navi{
    margin-top: 10px;
    width: 100%;
    background: white;
  }
  
  li{
    width: 100%;
    padding: 5px;
    background: white;
    text-decoration: none;
    display: inline-block;
  }
  
  .sidlink{
    background: $base_dark;
    width: 100%;
    padding: 10px;
    margin: 5px 0 5px 0;
  }
}

// footer...............

footer{
  border-top: $base_dark;
  
  .copy{
    text-align: center;
    display: block;
    padding: 30px 0 80px 0;
    
  }
  
}