html {
  font-size: 62.5%; }

p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 140%; }

body {
  background: #f9f8f6; }

header {
  padding: 30px 0 10px 0; }
  header .six.columns.logo {
    float: left; }
  header .six.columns.menu {
    margin-top: 15px; }
  header .hedder_navi_li {
    float: right;
    margin-right: 0;
    margin-bottom: 0; }
  header li {
    display: inline;
    margin-left: 10px; }

#contents {
  margin-top: 30px; }
  #contents #main {
    /* Owl Carouwsel Dots*/ }
    #contents #main .owl-theme .owl-dots, #contents #main .owl-theme .owl-nav {
      text-align: left; }
    #contents #main .owl-theme .owl-dots .owl-dot span {
      width: 30px;
      height: 5px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .3s ease;
      border-radius: 0; }
    #contents #main .owl-theme .owl-dots .owl-dot.active span, #contents #main .owl-theme .owl-dots .owl-dot:hover span {
      background: #9d1a2d; }

h2 {
  width: 100%;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  h2 img {
    width: 100%;
    padding: 0;
    margin: 0; }

.new,
.popular {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.box {
  width: 32%;
  margin: 3px;
  padding: 5px;
  background-color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .box p {
    text-align: left; }

.shopping {
  display: flex;
  line-height: 200%; }
  .shopping .guide_box2 {
    width: 49%;
    height: 200px;
    background: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .shopping .guide_box1 {
    margin-right: 0.5%;
    width: 49%;
    height: 200px;
    background: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .shopping h3 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem; }
  .shopping h4 {
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem; }

#sidebar .item_serch {
  width: 100%;
  background: white; }
#sidebar .pc_navi {
  margin-top: 10px;
  width: 100%; }
  #sidebar .pc_navi .pc_navi_li {
    text-align: left center; }
    #sidebar .pc_navi .pc_navi_li li {
      background: #fff url(../images/top/next_icon_gray.png) no-repeat right center; }
  #sidebar .pc_navi .sidlink {
    background: #887f69 url(../images/top/next_icon.png) no-repeat right center;
    width: 100%;
    height: 24px;
    margin: 5px 0 5px 0; }
    #sidebar .pc_navi .sidlink img {
      margin: 6px;
      float: left; }
#sidebar li {
  width: 100%;
  height: 24px;
  margin-bottom: 0.5px;
  background: white;
  color: black;
  display: inline-block; }
  #sidebar li a:link {
    text-decoration: none; }
  #sidebar li a:visited {
    text-decoration: none; }
  #sidebar li a:hover {
    text-decoration: none; }
  #sidebar li a:active {
    text-decoration: none; }
#sidebar #about, #sidebar #shop {
  background: white;
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  #sidebar #about p, #sidebar #shop p {
    text-align: left; }
  #sidebar #about .button-more, #sidebar #shop .button-more {
    display: inline-block;
    margin: 20px; }
  #sidebar #about .sid, #sidebar #shop .sid {
    background: #887f69;
    width: 100%;
    height: 24px;
    margin: 5px 0 5px 0; }
    #sidebar #about .sid img, #sidebar #shop .sid img {
      margin: 6px;
      float: left; }

#pagetop-re .container {
  float: right;
  width: 15%;
  height: 10px;
  display: inline;
  margin: 20px 0 10px 0; }
#pagetop-re img {
  float: right; }

footer .container {
  border-top: 20px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #887f69; }
footer .copy {
  text-align: center;
  display: block;
  padding: 30px 0 80px 0; }

/*# sourceMappingURL=style.css.map */
